body {
    font-family: 'Varela Round', Arial, sans-serif;
    color: #fff; /* Texto blanco */
    padding: 20px;
    background-image: url('assets/bg/layer0.svg');
    background-color: #36393F;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    opacity: 0.9;
    height: 100vh; 
   
    
}

.release-container {
    width: 220px;
    max-height: 180px; 
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(117, 117, 117, 0.1);
    background: rgba(40, 43, 48, 0.6); /* Fondo gris oscuro con opacidad 60% */
  border: 1px solid #dcdcdc; /* Borde gris */
    overflow: hidden;
    margin-bottom: 20px; /* Agregar un margen inferior de 20px */
    backdrop-filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
}

h2 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.release-name {
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.download-count {
    font-size: 20px;
    margin-bottom: 10px;
}

.tag {
    color: #b6b6b6;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    color: #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#stats-header {
    font-size: 24px;
    font-weight: bold;
    color: #c0c0c0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#downloads {
    font-size: 18px;
    word-wrap: break-word;
    color: #c0c0c0;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    margin-top: -10px;
}

#downloads1 {
    font-size: 18px;
    word-wrap: break-word;
    color: #c0c0c0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#generic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px; /* Agrega un margen inferior de 20px */
}

#comments-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 9999;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(117, 117, 117, 0.1);
    background: rgba(40, 43, 48, 0.6); 
    border: 1px solid #dcdcdc; 
    overflow: hidden;
}

#comments-button:hover {
    
    background-color: #ffffff66;
    color: black;
    border: 1px solid #000000;
}

#comments-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(12, 12, 12, 0.831);
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

#comments-container button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(117, 117, 117, 0.1);
    background: rgba(40, 43, 48, 0.6); 
    border: 1px solid #dcdcdc; 
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #comments-container {
        width: 90%; 
        top: 0;
        height: 100vh; 
        padding-top: 50px; 
    }
}


@media (max-width: 768px) {
    #generic-container {
        display: flex;
        flex-wrap: wrap;
     
        margin-top: 80px; /* Agrega un margen inferior de 20px */
    }

    .release-container {
        flex: 0 0 auto; /* Asegura que el tamaño del contenedor no se vea afectado por el contenido */
        width: 125px; /* Ancho deseado para el contenedor */
        max-width: 125px; /* Máximo ancho permitido */
        padding: 10px; /* Ajusta el padding interno según sea necesario */
        margin: 5px; /* Ajusta el margen externo según sea necesario */
        margin-right: 15px; /* Ajusta el margen externo según sea necesario */
        margin-bottom: 15px; /* Ajusta el margen externo según sea necesario */
    }

    h2, .release-name, .tag, .description {
        font-size: 1em; 
    }

    .download-count {
        font-size: 1em; 
        white-space: normal;
        word-wrap: break-word;
    }
}



  

